@use '../../scss/variable' as *; // variable.scss의 모든 변수와 믹스인을 현재 파일에서 사용할 수 있습니다.

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: $dimmed-zindex;
}
