.container {
  width: 100%;
  max-width: 500px;
  height: 100%;
  // background-color: #eeeeee;
  background-color: transparent;
  margin: 0 auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  z-index: -1;
}
